*{
    margin: 0 auto;
    padding: 0 auto;
    background-color: black;
}
.form_bck{
    height: 600px;
    width:50%;
}
.input_reg {
    border-radius: 20px;
    border:none ;
}
.sub_form{
   width: 30%;
   border: none;
   border-radius: 10px;
}
.text-center{
    color:aliceblue;
}